<% include header.ejs %>
    <!-- USTED YA VOTO  -->
    <div class="card-body candidatotable">
        <section class="our-webcoderskull padding-lg">
            <div class="container">
                <div class="row heading heading-icon">
                    <h2>CANDIDATOS</h2>

                </div>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Ud ya votó!</strong> No puede generar más de un voto.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <p>
                    <a href="/">
                        <button type="text" class="btn btn-alert text-uppercase mb-2 rounded-pill shadow-sm" type="text">SALIR</button>
                </p>
            </div>
        </section>
    </div>

    <% include footer.ejs %>